[submodule "mothur"]
	path = mothur
	url = git@github.com:lguangyu/Amplicon_Sequencing_Analysis.git
	branch = anal_proj_struct
[submodule "mpllayout"]
	path = prerequisite/mpllayout
	url = git@github.com:lguangyu/MatplotlibLayout.git
